---
layout: default
---
<div class="home">
  <h1>{{ site.title }}</h1>
  <p class="description">{{ site.description }}</p>
  
  {% assign categories = site.posts | map: "category" | uniq | sort %}
  {% for cat in categories %}
  {% if cat != "" %}
  <section class="category-section">
    <h2 class="category-title">{{ cat }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      {% if post.category == cat %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <time>{{ post.date | date: "%Y-%m-%d" }}</time>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
  {% endif %}
  {% endfor %}
</div>
